## Baseball Games - Season 2016

### with NumPy and Pandas

*Dataset columns:*

* attendance - number of spectators at the game
* away_team - guest team
* away_team_errors
* away_team_hits
* away_team_runs
* date
* field_type
* game_type
* home_team
* home_team_errors
* home_team_hits
* home_team_runs
* start_time
* venue - the name of the stadium, field, or arena
* day_of_week
* temperature - in Fahrenheits
* wind_speed
* wind_direction
* sky
* total_runs
* game_hours_dec - game duration indicated in hours
* season
* home_team_win - (1 - Win)
* home_team_loss - (0 - Loss)
* home_team_outcome (Win, Loss)

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('baseball_games.csv')
data.head(3)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,venue,day_of_week,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,0,9,4,7:38 p.m. Local,Kauffman Stadium,Sunday,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,0,8,3,7:11 p.m. Local,Great American Ball Park,Wednesday,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,0,9,4,7:07 p.m. Local,Oriole Park at Camden Yards,Wednesday,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win

In [3]:
df = data.drop(columns=['Unnamed: 0', 'away_team_errors', 'field_type',
                        'venue', 'wind_direction', 'sky']).copy()
df.sample(4)

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1489,18024.0,Boston Red Sox,12,7,2016-06-27,Night Game,Tampa Bay Rays,0,18,13,7:10 p.m. Local,Monday,72.0,0.0,20,3.483333,regular season,1,0,Win
39,24333.0,Chicago White Sox,11,7,2016-04-25,Night Game,Toronto Blue Jays,0,14,5,7:08 p.m. Local,Monday,68.0,0.0,12,3.400000,regular season,0,1,Loss
875,13576.0,Boston Red Sox,9,6,2016-08-22,Night Game,Tampa Bay Rays,1,5,2,7:10 p.m. Local,Monday,72.0,0.0,8,3.216667,regular season,0,1,Loss
1035,42859.0,Philadelphia Phillies,9,3,2016-08-09,Night Game,Los Angeles Dodgers,0,13,9,7:09 p.m. Local,Tuesday,75.0,8.0,12,3.283333,regular season,1,0,Win

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463 entries, 0 to 2462
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2460 non-null   float64
 1   away_team          2463 non-null   object
 2   away_team_hits     2463 non-null   int64
 3   away_team_runs     2463 non-null   int64
 4   date               2463 non-null   object
 5   game_type          2463 non-null   object
 6   home_team          2463 non-null   object
 7   home_team_errors   2463 non-null   int64
 8   home_team_hits     2463 non-null   int64
 9   home_team_runs     2463 non-null   int64
 10  start_time         2463 non-null   object
 11  day_of_week        2463 non-null   object
 12  temperature        2463 non-null   float64
 13  wind_speed         2463 non-null   float64
 14  total_runs         2463 non-null   int64
 15  game_hours_dec     2463 non-null   float64
 16  season             2463 non-null   object
 17  home_team_win      2463 non-null   int64
 18  home_team_loss     2463 non-null   int64
 19  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(8), object(8)
memory usage: 385.0+ KB

In [5]:
print(f"Types of season: {list(df.season.unique())}")

Types of season: ['regular season', 'post season']

In [6]:
# Remove the post season since the regular one is the only targeted one.
df.drop(df[df['season'] == 'post season'].index, inplace=True)
print(f"Number of games in the regular season: {int(df.season.value_counts())}")

Number of games in the regular season: 2428

In [7]:
df.loc[pd.isnull(df['attendance'])]

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
220,NaN,St. Louis Cardinals,8,3,2016-07-26,Day Game,New York Mets,1,7,2,4:11 p.m. Local,Tuesday,90.0,11.0,5,3.300000,regular season,0,1,Loss
1724,NaN,New York Mets,5,1,2016-06-07,Day Game,Pittsburgh Pirates,0,10,3,4:08 p.m. Local,Tuesday,65.0,17.0,4,2.666667,regular season,1,0,Win
1912,NaN,Cleveland Indians,7,6,2016-05-23,Day Game,Chicago White Sox,0,10,7,4:10 p.m. Local,Monday,82.0,11.0,13,3.166667,regular season,1,0,Win

In [8]:
# Fill in NaN values with the mean value.
mean_attendance = data['attendance'].mean()
data['attendance'].fillna((mean_attendance), inplace = True)

data.isnull().values.any()

False

In [9]:
# Game with the highest number of spectators.
max_attendance = df[df.attendance == df.attendance.max()]
max_attendance

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,53621.0,San Francisco Giants,11,2,2016-09-20,Night Game,Los Angeles Dodgers,0,9,0,7:10 p.m. Local,Tuesday,77.0,6.0,2,3.6,regular season,0,1,Loss

In [10]:
def to_Celsius(F_temp: int):
    """Convert temperature from Fahrenheit to Celsius.
    f = 9/5*c + 32"""

    C_temp = np.round(5/9*(F_temp - 32), 1)
    return C_temp

In [11]:
# Game with the lowest temperature.
lowest_t = df[df.temperature == df.temperature.min()]
print("The lowest temperature in degrees Celsius: {}".format(
    to_Celsius(int(lowest_t.temperature))
    ))
lowest_t

The lowest temperature in degrees Celsius: -0.6

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,13,8,2016-04-09,Day Game,Detroit Tigers,1,7,4,1:10 p.m. Local,Saturday,31.0,18.0,12,3.333333,regular season,0,1,Loss

In [12]:
# Game with the highest temperature.
highest_t = df[df.temperature == df.temperature.max()]
print("The highest temperature in degrees Celsius: {}".format(
    to_Celsius(int(highest_t.temperature))
    ))
highest_t

The highest temperature in degrees Celsius: 38.3

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.0,San Francisco Giants,8,3,2016-05-13,Night Game,Arizona Diamondbacks,0,8,1,6:40 p.m. Local,Friday,101.0,9.0,4,3.0,regular season,0,1,Loss

In [13]:
# The longest game of the season.
max_hours = df[df.game_hours_dec == df.game_hours_dec.max()]
max_hours

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,45825.0,Cleveland Indians,15,2,2016-07-01,Day Game,Toronto Blue Jays,2,11,1,1:20 p.m. Local,Friday,68.0,0.0,3,6.216667,regular season,0,1,Loss

In [14]:
# The shortest game of the season.
min_hours = df[df.game_hours_dec == df.game_hours_dec.min()]
min_hours

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,4,1,2016-09-29,Night Game,Pittsburgh Pirates,0,2,1,7:06 p.m. Local,Thursday,63.0,12.0,2,1.25,regular season,0,0,Loss

In [15]:
# Games ended in a draw (by number of runs scored).
equal_runs = df.iloc[np.where(df.away_team_runs == df.home_team_runs)]
equal_runs

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,4,1,2016-09-29,Night Game,Pittsburgh Pirates,0,2,1,7:06 p.m. Local,Thursday,63.0,12.0,2,1.25,regular season,0,0,Loss

In [16]:
# The last game of the season.
last_game = df.sort_values(by=['date', 'start_time'], ascending=False).head(1)
last_game

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
395,36787.0,Toronto Blue Jays,9,2,2016-10-02,Day Game,Boston Red Sox,1,4,1,3:17 p.m. Local,Sunday,56.0,6.0,3,3.233333,regular season,0,1,Loss

In [17]:
# Game with the lowest number of spectators.
min_attend = df[df.attendance == df.attendance.min()]
min_attend

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,8766.0,Detroit Tigers,5,0,2016-05-04,Night Game,Cleveland Indians,0,5,4,6:10 p.m. Local,Wednesday,54.0,11.0,4,2.316667,regular season,1,0,Win

In [18]:
# The most windy game.
wind_speed = df[df.wind_speed == df.wind_speed.max()]
wind_speed

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,41543.0,Milwaukee Brewers,11,5,2016-06-13,Night Game,San Francisco Giants,0,14,11,7:15 p.m. Local,Monday,58.0,25.0,16,3.633333,regular season,1,0,Win
2005,35736.0,Houston Astros,8,9,2016-05-15,Day Game,Boston Red Sox,3,14,10,1:34 p.m. Local,Sunday,58.0,25.0,19,3.666667,regular season,1,0,Win

In [19]:
# Max number of total runs in the game.
total_runs = df[df.total_runs == df.total_runs.max()]
total_runs

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,22588.0,Seattle Mariners,16,16,2016-06-02,Night Game,San Diego Padres,1,20,13,6:10 p.m. Local,Thursday,76.0,10.0,29,3.833333,regular season,0,1,Loss

In [20]:
# Max number of errors made by the host team.
hteam_err = df[df.home_team_errors == df.home_team_errors.max()]
hteam_err

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,22581.0,Arizona Diamondbacks,11,8,2016-07-27,Night Game,Milwaukee Brewers,5,5,1,7:10 p.m. Local,Wednesday,77.0,9.0,9,2.933333,regular season,0,1,Loss

In [21]:
# Max number of total hits in the game.
df['total_hits'] = df[['away_team_hits', 'home_team_hits']].sum(axis=1)
total_hits = df[df.total_hits == df.total_hits.max()]
total_hits

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits
1413,36253.0,Texas Rangers,16,5,2016-07-04,Day Game,Boston Red Sox,2,21,12,1:37 p.m. Local,Monday,84.0,11.0,17,3.666667,regular season,1,0,Win,37

In [22]:
# The number of games played by each team in a given season.
df1 = pd.DataFrame(df.away_team.value_counts(), columns=['away_team'])
df2 = pd.DataFrame(df.home_team.value_counts(), columns=['home_team'])
df3 = df1.join(df2)
df3['total_games'] = df3[['away_team', 'home_team']].sum(axis = 1)
df3.sort_index()

                               away_team  home_team  total_games
Arizona Diamondbacks                  81         81          162
Atlanta Braves                        80         81          161
Baltimore Orioles                     81         81          162
Boston Red Sox                        81         81          162
Chicago Cubs                          81         81          162
Chicago White Sox                     81         81          162
Cincinnati Reds                       81         81          162
Cleveland Indians                     80         81          161
Colorado Rockies                      81         81          162
Detroit Tigers                        81         80          161
Houston Astros                        81         81          162
Kansas City Royals                    81         81          162
Los Angeles Angels of Anaheim         81         81          162
Los Angeles Dodgers                   81         81          162
Miami Marlins                         81         80          161
Milwaukee Brewers                     81         81          162
Minnesota Twins                       81         81          162
New York Mets                         81         81          162
New York Yankees                      81         81          162
Oakland Athletics                     81         81          162
Philadelphia Phillies                 81         81          162
Pittsburgh Pirates                    81         81          162
San Diego Padres                      81         81          162
San Francisco Giants                  81         81          162
Seattle Mariners                      81         81          162
St. Louis Cardinals                   81         81          162
Tampa Bay Rays                        81         81          162
Texas Rangers                         81         81          162
Toronto Blue Jays                     81         81          162
Washington Nationals                  81         81          162

In [23]:
# Max number of home-team wins.
home_win = df.groupby('home_team')[['home_team_win']].sum()
home_win.sort_values(by='home_team_win', ascending=False).head()

                      home_team_win
home_team
Chicago Cubs                     57
Cleveland Indians                53
Los Angeles Dodgers              53
Texas Rangers                    53
Washington Nationals             50

In [24]:
# Max number of away-team wins.
away_win = data.groupby('away_team')[['home_team_loss']].sum()
away_win.sort_values(by='home_team_loss', ascending=False).head()

                      home_team_loss
away_team
Chicago Cubs                      52
St. Louis Cardinals               48
Washington Nationals              46
Cleveland Indians                 46
Boston Red Sox                    46

In [25]:
# Team that won the most matches in the season.
total_wins = home_win.join(away_win)
total_wins['total_wins'] = total_wins[['home_team_win', 'home_team_loss']].sum(axis = 1)
total_wins.sort_values(by='total_wins', ascending=False).head()

                      home_team_win  home_team_loss  total_wins
home_team
Chicago Cubs                     57              52         109
Cleveland Indians                53              46          99
Washington Nationals             50              46          96
Texas Rangers                    53              42          95
Los Angeles Dodgers              53              41          94

In [26]:
# Teams which lost the most matches in the season.
total_wins.set_index(['home_team_win'])
total_loss = total_wins.join(df3).sort_index()
total_loss['total'] = total_loss.total_games - total_loss.total_wins
total_loss[['total']].sort_values(by='total', ascending=False).head()

                      total
home_team
Minnesota Twins         103
Tampa Bay Rays           94
San Diego Padres         94
Cincinnati Reds          94
Arizona Diamondbacks     93

In [27]:
weekday_loss = pd.pivot_table(df,
                              index='day_of_week',
                              columns='home_team_outcome',
                              values='home_team_loss',
                              aggfunc = np.sum)
weekday_loss.drop(columns="Win", inplace=True)

total = weekday_loss.Loss.sum()

print(f"Number of losses: {total}")
weekday_loss.sort_values(by=["Loss"], ascending=False)

Number of losses: 1140

home_team_outcome  Loss
day_of_week
Sunday              189
Tuesday             185
Friday              181
Saturday            174
Wednesday           162
Monday              128
Thursday            121

In [29]:
# Verify if the greatest number of total runs occur in cold weather
# (cold weather <= 0 degrees Celsius)
df["temperature_C"] = df.temperature.apply(to_Celsius)

df.sort_values(by="total_runs", ascending=False).head(4)

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits,temperature_C
1788,22588.0,Seattle Mariners,16,16,2016-06-02,Night Game,San Diego Padres,1,20,13,6:10 p.m. Local,Thursday,76.0,10.0,29,3.833333,regular season,0,1,Loss,36,24.4
881,15690.0,Los Angeles Dodgers,21,18,2016-08-22,Day Game,Cincinnati Reds,0,14,9,12:36 p.m. Local,Monday,76.0,3.0,27,4.033333,regular season,0,1,Loss,35,24.4
1475,41730.0,Oakland Athletics,12,13,2016-06-28,Night Game,San Francisco Giants,1,18,11,7:16 p.m. Local,Tuesday,59.0,16.0,24,3.883333,regular season,0,1,Loss,30,15.0
2110,41477.0,Colorado Rockies,17,17,2016-05-05,Night Game,San Francisco Giants,2,16,7,7:15 p.m. Local,Thursday,62.0,10.0,24,3.416667,regular season,0,1,Loss,33,16.7

In [30]:
df.iloc[np.where(df.temperature_C <= 0)]

,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits,temperature_C
2409,32419.0,New York Yankees,13,8,2016-04-09,Day Game,Detroit Tigers,1,7,4,1:10 p.m. Local,Saturday,31.0,18.0,12,3.333333,regular season,0,1,Loss,20,-0.6
2412,20192.0,Cleveland Indians,7,3,2016-04-09,Day Game,Chicago White Sox,1,10,7,1:10 p.m. Local,Saturday,32.0,13.0,10,2.716667,regular season,1,0,Win,17,0.0